# Prerequisites
*.out
tags
*bak
build_debug
build_release
qlib
*.so
check_log.txt
*.gch
debug_list
*.txt
RunModel
BDTModel/
BDTModel0/
BDTModel1/
BDTModel2/
BDTModel3/
BDTModel4/
BDTModel5/
BDTModel6/
BDTModel7/
BDTModel8/
BDTModel9/
FactorDev/
GenCache/
ManModel/
RunModel2/
check_model/
fee/
optm/
BDTModel_dev/
DevFuturesPair/
hft/
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
